/* Reset some default browser styles */
* {
    box-sizing: border-box;
}

:root {
    --background: white;
    --text: black;
    --primary: #457B9D;
    --secondary: #B1ECEC;
    --accent: #E53A45;
    --error: #E53A45;
    --success: #588157;
    --text-dimmed: #8E9AAF ;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    position: relative;
    background-color: var(--background);
    color: var(--text);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ... Your existing CSS ... */

.section-title {
    font-size: 2rem;
    color: var(--primary);
    font-weight: bold;
}

.accent {
    color: var(--primary);
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
    font-weight: bold;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--secondary);
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
}

strong {
    font-weight: bold;
}

nav .name {
    font-weight: bold;
    font-size: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--text);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 50px);
}

.hero-name {
    font-size: 6em;
    font-weight: normal;
}

.hero-description {
    color: var(--text-dimmed);
    font-size: 1.5em;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    height: 100vh;
}

.about-me-text,
.about-me-image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.about-me-text {
    text-align: left;
}

.about-me-text h2 {
    margin-bottom: 10px;
}

.about-me-text p {
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.about-me-image {
    display: flex;
    justify-content: end;
}

.about-me-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: 0;
}

