/* Reset some default browser styles */
* {
    box-sizing: border-box;
}

:root {
    --background: white;
    --text: black;
    --primary: #457B9D;
    --secondary: #B1ECEC;
    --accent: #E53A45;
    --error: #E53A45;
    --success: #588157;
    --text-dimmed: #8E9AAF ;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    position: relative;
    background-color: var(--background);
    color: var(--text);
}

/* ... Your existing CSS ... */

.accent {
    color: var(--primary);
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
}

nav .name {
    font-weight: bold;
    font-size: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--text);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 50px);

}

.hero-name {
    font-size: 6em;
    font-weight: normal;
}

.hero-description {
    color: var(--text-dimmed);
    font-size: 1.5em;
}
